
button{

    background: #2F80ED;
    border-radius: 4px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.035em;
    color: #FFFFFF;
    border-style: none;
    outline: none;
}

button:hover{
    color: #dbdbdb;
    background: #2266be;
    cursor: pointer;
}


.btn-icon{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .material-icons{
        font-size: 12px;
        margin-right: 5px;
        color: #ffffff;
    }

}

.btn-normal{
    width: 80px;
    height: 25px;
}

.btn-big{
    width: 100px;
    height: 32px;
}

.btn-median{
    width: 82px;
    height: 32px;
}

.btn-full{
    width: 100%;
    height: 38px;
}

.green-1{
    color: #a5a5a5;
    background: #75e7a1;
}

.green-1-h:hover{
    color: #727272;
    background: #a3f1c1;
}

.grey-1{
    background: #a7a7a7;
}

.grey-1-h:hover{
    color: #ffffff;
    background: #7e7e7e;
}

.disabled{
    background: #a5a5a5
}

.btn__social_action{

    width: 165px;
    height: 40px;

    background: #F2F2F2;
    border-radius: 8px;
}