

.div_container_notData{

    width: 100%;
    max-height: 50px;

    display: flex;
    justify-content:center;
    align-items:center;

    background-color: #bebebe;
    border-radius: 8px;
    
    border: 1px solid #a7a7a7;;

    padding: 10px;

    .span_text{

        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        
        letter-spacing: -0.035em;
        color: #4e4e4e;

    }



}