
.header__nav{

    width: 100%;
    height: 68px;
    padding: 0 40px;
    
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 9999999;

    .header__nav__divs{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        
        .nav_logo{
            .logoSmall{
                display: none;
            }
    
            .logo{
                display: flex;
            }
        }
        

        .nav__list{

            height: 100%;
            display: flex;
            justify-content: center;

            .nav__list__ul{
                
                height: 100%;
                width: 500px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                
                

                .item__li{

                    height: 100%;
                    width: 80px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    list-style: none;
                    text-align: center;

                    .none{
                        display: none;
                    }
                    
                    .nav_item{
                        
                        text-decoration: none;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 21px;
                        color: #2F80ED;

                    }

                    .underline__nav{
                        height: 3px;
                        width: 100%;
                        margin-top: 15px;
                        border-radius: 8px 8px 0px 0px;
                    }

                    .active{
                        background-color: #2F80ED;
                    }

                }

            }

        }

        .div__profile_user{

            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .img_user{

                width: 32px;
                height: 32px;
                margin-right: 11px;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 6px;
                    object-fit: cover;
                }

            }

            .span__user_name{

                margin-right: 16px;
                
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: -0.035em;

                color: #333333;
            }

            .menu{

                background-color: #fff;
                color: #333333;
                display: flex;
                align-items: center;

                .material-icons:hover{
                    background-color: rgb(236, 236, 236);
                    border-radius: 50%;
                }

                .menuActive{
                    background-color: rgb(236, 236, 236);
                    border-radius: 50%;
                }

            }
            
        }

    }

}

@media only screen and (max-width: 900px) {

    .header__nav{

        .header__nav__divs{
  
            .nav__list{
     
                .nav__list__ul{
                    
                    width: 300px;

                    .item__li{
                      
                        width: 50px;

                        .none{
                            display: flex;
                            justify-content: center;
                        }

                        .show{
                            display: none;
                        }

    
                    }
    
                }
    
            } 
    
        }
    
    }

}

@media only screen and (max-width: 620px) {

    .header__nav{

        padding: 0 20px;

        .header__nav__divs{

            .nav_logo{

                height: 25px;

                .logoSmall{
                    display: flex;
                }
    
                .logo{
                    display: none;
                }
            }
            
            .nav__list{
     
                .nav__list__ul{
                    
                    width: 200px;

                    .item__li{
                      
                        width: 50px;

                        .none{
                            display: flex;
                            justify-content: center;
                        }

                        .show{
                            display: none;
                        }

    
                    }
    
                }
    
            } 
  
            .div__profile_user{
   
                .span__user_name{
                    display: none;
                }
    
                
            }
    
        }
    
    }

}