.menu_profile{

    position: absolute;
    top: 58px;
    left: -35px;
    z-index: 99999;
    
    padding: 15px 13px;
    width: 192px;
    // height: 100px;
    background-color: #fff;
    border: 1px solid #E0E0E0;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 12px;

    .items_menu{

        

        width: 100%;
        padding: 11px 13px;

        .nav_item{

            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;

            .material-icons{

                font-size: 22px;
    
            }
    
            .txt{
    
                margin-left: 10px;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: -0.035em;
    
            }
        }

        

    }

    .items_menu:hover{
        background-color: #F2F2F2;
        border-radius: 8px;
    }

    .line{
        margin:10px 0;
        width: 100%;
        border: 1px solid #E0E0E0;
    }

    .logout{
        color: #EB5757;
    }

    .logoutHover:hover{
        background-color: #eb57577c;
    }

}