

.mrg_r_12{
    margin-right: 12px;
}

.mrg_r_7{
    margin-right: 7px;
}

.mrg_r_9{
    margin-right: 9px;
}

.mrg_t_9{
    margin-top: 9px;
}

.mrg_b_9{
    margin-bottom: 9px;
}

.primaryColor{
    color: #2F80ED;
}

.gray1Color{
    color: #333333;
}

.gray2Color{
    color: #4F4F4F;
}

.gray3Color{
    color: #828282;
}

.hover_reply_b{
    background-color: #b3d3fd; 
}

.input_basic{
    padding: 10px 10px;                    
    width: 100%;
    background: #FAFAFA;
    border: 1px solid #F2F2F2;
    border-radius: 8px;

    color: #BDBDBD;
    resize: none;

    outline: none;
}