*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body{
    // width: 100%;

}

.aviso{
    position: absolute;
    top: 0;
    left: 1%;
    font-size: 20px;
    font-weight: bold;
    color: #525252;
    z-index: 9999999999;
}

.container_main_app{
    height: 100vh;
}

.container__loading{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}