*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

// body{
//     width: 100%;
//     height: 100vh;
//     background-color: #E0E0E0;
// }

.aviso{
    position: absolute;
    top: 0;
    left: 1%;
    font-size: 20px;
    font-weight: bold;
    color: #525252;
    z-index: 9999999999;
}

.container_main_app{
    min-height: 100vh;
    width: 100%;
    background-color: #E0E0E0;  
}

.container{
    width: 100%;
    height: 100%;
    margin-top: 68px;
    padding-bottom: 40px;  
}

.container__loading{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}