*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body{
    // width: 100%;

}

.container_main_app{
    height: 100vh;
    // overflow-y: auto;
}

.container__loading{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}