

.home_container__main{

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    // padding-top: 24px;

    .div__create_post_show{

        display: flex;
        flex-direction: column;
        margin-right: 25px;
        width: 745px;

    }

    .div__section__aside{

        display: flex;
        flex-direction: column;
        width: 306px;

    }

}

@media only screen and (max-width: 1115px) {

    .home_container__main{
  
        .div__create_post_show{
            width: 640px;
        }

        .div__section__aside{
            width: 270px;
        }
    
    }

}

@media only screen and (max-width: 985px) {

    .home_container__main{
  
        .div__create_post_show{
            width: 560px;
        }
  
    }

}



@media only screen and (max-width: 900px) {

    .home_container__main{
  
        .div__create_post_show{
            width: 100%;
            margin-right: 0;
        }

        .div__section__aside{
            display: none;
        }
    
    }

}

