.div_name_user {
  .name_user_following {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;

    letter-spacing: -0.035em;

    color: #333333;
  }
}

.btn_exit {
  button {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;

    .material-icons {
      color: #333333;
    }
  }

  button:hover {
    background-color: rgb(209, 209, 209);
    cursor: pointer;
  }
}

.users_followers {
  overflow: auto;

  .line {
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #d8d8d8;
  }
}

.users_followers::-webkit-scrollbar {
  width: 0;
}
