

.container_profile{

    
    .profile__container_main{


        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #E0E0E0;
        
    
        .info_profile{

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .profile_img_background{

                width: 100%;
                height: 300px;
                max-height: 300px;
            
                img{
            
                    width: 100%;
                    height: 100%;
            
                    object-fit: cover;
            
                }
            
            }

    
            .user_img_info{
    
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                margin-top: -50px;
                margin-bottom: 25px;
        
                padding: 24px;

                width: 100%;
                max-width: 1073px;

                height: 163px;
                background-color: #fff;
        
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
                border-radius: 12px;

                .userprofile_img_info{

                    display: flex;
                    flex-direction: row;

                    .user_img{
    
                    width: 160px;
                    height: 160px;
                    padding: 4px;
                    margin-top: -80px;
                    border-radius: 8px;
                    background-color: #fff;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    
                    img{
    
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 8px;
    
                    }
    
                }
    
                .user_info{
    
                    margin-left: 24px;
    
                    .characteristics{
    
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 22px;
    
                        .name_user{
    
                            margin-right: 25px;
    
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 36px;     
                            letter-spacing: -0.035em;
                            
                        }
    
                        .fwll{  
    
                            margin-right: 25px;
                            font-style: normal;
                            font-weight: 800;
                            font-size: 12px;
                            line-height: 18px;
                            color: #828282;
    
                            .wBlack{
                                
                                color: #333;
                                font-weight: bold;
                                margin-right: 5px;
                            }

                        }
    
                        .fwll:hover{
                            cursor: pointer;
                            border-bottom-width: 1px;
                            border-bottom-style: solid;
                            
                            border-bottom-color: #828282;
                        }

    
                    }
    
                    .description{
    
                        max-width: 430px;
    
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 25px;
                        letter-spacing: -0.035em;
                        
                        color: #828282;
                    }
    
                }

                }
    
            }
    
        }
    
        .container_main{
    
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            // width: 1073px;
    
            .div_filter{
                margin-right: 20px;
                margin-bottom: 20px;
            }
    
        }
    
    }

}

