
    .bookmarks_container_main{
        
        padding-top: 25px; 
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;

        .div__explore__posts{
            width: 745px;
        }


    }



@media only screen and (max-width: 1115px) {

    .bookmarks_container_main{

        

        .div__explore__posts{

            width: 640px;

        }
       
    }

}


@media only screen and (max-width: 995px) {

    .bookmarks_container_main{

        align-content: flex-start;
        

        .div__explore__posts{

            width: 550px;

        }
       
    }

}

@media only screen and (max-width: 900px) {

    .bookmarks_container_main{

        width: 100%;
        gap: 10px;

        .div_filter{
            width: 100%;
        }

        .div__explore__posts{

            width: 100%;

        }
       
    }

}