.bookmarks_container_main{

    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #E0E0E0;
    

    .container_main{

        display: flex;
        flex-direction: row;
        margin-top: 25px;

        .div_filter{
            margin-right: 24px;
        }


    }

}