// .bookmarks_container_main{

//     display: flex;
//     justify-content: center;
//     width: 100%;
//     background-color: #E0E0E0;
    

    .bookmarks_container_main{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .div_filter{
            margin-right: 24px;
        }

        .div__explore__posts{
            width: 745px;
        }


    }

// }

@media only screen and (max-width: 1115px) {

    .bookmarks_container_main{

        .div_filter{
            margin-right: 18px;
        }

        .div__explore__posts{

            width: 640px;

        }
       
    }

}


@media only screen and (max-width: 995px) {

    .bookmarks_container_main{

        
        align-content: flex-start;

        .div_filter{
            margin-right: 16px;
        }

        .div__explore__posts{

            width: 550px;

        }
       
    }

}

@media only screen and (max-width: 900px) {

    .bookmarks_container_main{

        width: 100%;

        .div_filter{

            width: 100%;
            margin-right: 0;
            margin-bottom: 16px;
        }

        .div__explore__posts{

            width: 100%;

        }
       
    }

}