.div__sohw_people{

    // width: 745px;
    height: 100%;

    .show_people{

        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: auto auto ;
        gap: 10px;
    
    }
}


@media only screen and (max-width: 520px) {

    .div__sohw_people{
        .show_people{
            grid-template-columns: auto;
        }
    }

}