.blur-modal{

    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .3);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    transition: opacity 0.1s ease-in-out;
    
    z-index: 999999;
}

.container_modal{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .modal{
        
        
        width: 70%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        border-radius: 10px;

        .modal_main{

        max-height: 644px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        

        .btn__title{

            position: sticky;
            top: 0;
            z-index: 99999999;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;

            .btn_exit{

                margin-right: 50px;

                button{

                    display: flex;
                    align-items: center;
                    background-color: #fff;
                    border-radius: 50%;

                    .material-icons{
                        color: #333333;
                    }

                }

                button:hover{
                    background-color: rgb(209, 209, 209);
                    cursor: pointer;
                }
            }

            .title_modal{
                font-size: 20px;
            }
        }
        }
       
        .container_main{
            padding: 10px;
        }
    
    }

}


@media only screen and (max-width: 730px) {

    .container_modal{
    
        .modal{
             
            width: 100%;
        
        }
    
    }

}